*{margin: 0; padding: 0;}

.main-title{
    padding: 30px;
    text-align: center;
    background-color: rgb(239, 224, 252);
    color: rgb(57, 7, 94);
    font-size: 30px;
}

header{
    position: sticky;
    top: 0;
    background-color: rgb(83, 14, 110);
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: rgb(183, 34, 178);
    font-size: 18px;
}

header ul {
    list-style-type: none; padding: 0;   
}
header ul li {
    display: inline-block;
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
}

section {
    position: relative;
    width: 1024px;  /* 해제하면 하단 dashed 박스의 크기가 ul 박스 너비와 동일해진다.*/    
    height: 400px;
    margin: 0 auto;
    border: 2px dashed rgb(119, 17, 196);
}