*{margin: 0; padding: 0;}

#wrap{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;    /* 원모양 */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(108,9,121,1) 35%, rgba(0,212,255,1) 100%);
    /* 애니메이션 */
    animation-name: ball;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 3; /* infinite(3의 위치에 넣게되면) : 무한대로 움직임 */    
}

#wrap h1{line-height: 200px; color: #f2a8a8; text-align: center;}

/* 애니메이션의 변경지점을 지정하는 속성 */
@keyframes ball{
    /* 시작 지점 -from or 0% */
    /* 종료 지점 -to or 100% */
    /* top : 대각선 */
    /* left {left :opx} to{left : 500px; transform :rotate(360deg)} */
    0%{
        left: 0;
    }

    50%{
        left: 500px;
        transform: rotate(360deg);
    }
    100%{
        left: 0;
        transform: rotate(0deg);
    }

}